<% layout('layout') -%>

<section class="ftco-section ftco-cart" style="padding-top: 150px;">
    <div class="container">
        <h1>Order Details: </h1>
        <% if(foundOrder){ %>
        <table class="table table-striped sticky-header">
            <thead>
                <tr>
                    <th>Amount (INR)</th>
                    <th>Payment Status</th>
                    <th>Order Status</th>
                </tr>
            <tbody>
                <tr>
                    <td><%= foundOrder. total%></td>
                    <td><%= (foundOrder.transactionComplete)?'Paid':'Pending/Failed' %></td>
                    <td><%= (foundOrder.orderComplete)?'Delivered':(foundOrder.transactionComplete)?'Pending':'Payment Failed' %>
                    </td>
                </tr>
            </tbody>
            </thead>
        </table>
        <h1>Items Purchased: </h1>
        <table class="table table-striped sticky-header">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            <tbody>
                <% foundOrder.items.forEach( x => { %>
                <% if(x != null){ %>
                    <tr>
                        <% if(x.item){ %>
                            <td class="image-prod">
                            <div class="img" style="background-image: url(data:image/jpg;base64,<%=x.item.image%>);">
                            </div></td>
                            <td><a href="/product/<%=x.item._id %>"><%= x.item.name %></a></td>
                        <% }else{ %>
                            <td>-</td>
                            <td><a href="#">Item removed from database</a></td>
                        <% } %>
                        <td><%= x.quantity %></td>
                        <td><%= x.price %></td>
                    </tr>
                <% } %>
                <%  })  %>
            </tbody>
            </thead>
        </table>
        <% } %>

    </div>
</section>